<head th:fragment="head(titulo)">
		 <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbar-fixed/">
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		 <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet"> 
		 
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>


<div th:fragment="logo" class="px-3 py-2 text-bg-dark logo-container mb-3 p-2 d-flex justify-content-between">
	<span style="font-family: 'Handlee', cursive;  color: #FFFFFF; font-size: 30px">mudi</span>
	<span style="margin-top: 10px; font-family: 'Handlee', cursive;  color: #FFFFFF; font-size: 14px">
		
				<a sec:authorize="!isAuthenticated()" href="/login">Login</a>
				<a onclick="document.querySelector('#form-login').submit()" sec:authorize="isAuthenticated()" href="#">Logout</a>
				<form th:action="@{/logout}" method="post" id="form-login"></form>
		
	</span>
</div>