<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Início</title>
</head>
<body>
	<div th:each="pedido : ${lista}">
		<div th:text="${pedido.nomeProd}">Nome do Produto</div>
		<div>Valor: <span th:text="${pedido.valor}">200,99</span></div>
		
		<div>Produto</div>
		<div th:text="${pedido.urlProd}">url do produto</div> 
		
		<div>Descrição</div>
		<div>
			<textarea th:text="${pedido.descProd}">Descrição do Produto</textarea>
		</div>
		
		<div>
			<img th:src="${pedido.urlImg}" alt="imagem do produto" src="">
		</div>
	</div>
</body>
</html>