<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Início')}">

</head>
<body onload="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container py-2">
				<div class="row align-items-md-stretch">
					<div class="col-md-12">		
						<div class="h-100 p-5 text-bg-dark rounded-3">
							<h2>Faça sua Oferta</h2>
						</div>
					</div>
				</div>
				
									
		</div>	
		
		<div class="container p-3" id="ofertas">
			<div class="card mb-3" v-for="pedido in pedidos">					
				<div  class="card-header">{{pedido.nomeProd}}</div>
					<div class="card-body">
						<div class="row g-5">
							<div class="col-md-8">
								<div class="row mb-3">
									<div class="col-md-5">
										Valor: <input>
									</div>
										
									<div class="col-md-7">
										Data da Entrega: <input>
									</div>
								</div>
								
								<div class="mb-2">
									<label for="urlProd" class="form-label"></label>
										<a v-bind:href="pedido.urlProd" id="urlProd">{{pedido.nomeProd}}</a>
								</div>
								
								<div class="mb-3">
									<label for="descProd" class="form-label">Descrição</label>
									<textarea class="form-control" id="descProd">{{pedido.descProd}}</textarea>							
								</div>
							</div>	
							
					    
					    
					    <div class="col-md-4">
					    	<div class="card p-3">
					      		<img v-bind:src="pedido.urlImg" class="img-fluid rounded-start" alt="imagem do produto">
					    	</div>	
					    </div>
					   		
					   </div>
					</div>
					</div>
				</div>
				
				<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
				<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
				<script>
					function onLoad() {
						var app = new Vue({
							  el: '#ofertas',
							  data: {
							    pedidos: []
							  }, 
							  mounted () {
								    axios
								      .get('http://localhost:9500/api/pedidos/id')
								      .then(response => (this.pedidos = response.data))
								  }
							});
					}
				</script>
	</body>
</html>